.content{
	background-image: url(../../images/pics/pic-background.png);
}
.pic-title{
	font-size: 25px;
	margin: 10px 0px;
}
.pic-list{
	margin-top: 30px;
	margin-bottom: 20px;
}
.row{
	margin-bottom: 30px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.pic-more{
	height: 30px;
	overflow: hidden;
	margin-top: 20px;
}
.update{
	padding: 0 8px;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	background-color: rgba(255,255,255,.2);
	border: solid rgba(255,255,255,.2) 1px;
	border-radius: 10px;
}
.add-New{
	line-height: 30px;
	font-size: 15px;
	color: #000;
}
