body{
	background-color: #efeeee;
	font-family: "微软雅黑";
}
.light{
	background-color: #efeeee;
	width: 100%;
	height: 10px;
}
.content{
	width: 100%;
}
.new-nav-list{
  font-size: 12px;
}
.header{
	width: 100%;
	height: 30px;
	background-color: #fff;
	z-index: 10;
	overflow: hidden;
}
.header img{
	width: 30px;
	height: 20px;
	float: left;
	margin: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
	
}
.words-wrapper{
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 1;
	height: 20px;
	background-color: rgba(255,255,255,.4);
}
.pic-width{
	width: 100%;
}
.pic-explain{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	color: #000;
	/*bottom: 10px;*/
	background-color: rgba(255,255,255,.4);
	
	/*z-index: 9999;*/
	text-align: left;
	font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.pic-explain{
		font-size: 10px;
	}
  h4{
    font-size: 8px;
  }
  .more a{
    font-size: 5px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
	.pic-explain{
		font-size: 15px;
	}
}
.carousel-indicators li{
	position: relative;
}
.carousel-caption {
	text-align: left;
}
.item{
	position: relative;
}
.carousel-indicators {
    bottom: 0px;
}
.nav-wrapper{
	width: 100%;
	/*height: 124px;*/
	/*margin: 40px 0px;*/
	background-color: #d8d6d5;
}
.menu-content{
	width: 250px;
	/*height: 100%;*/
	position: relative;
	top: 0px;
	bottom: 0px;
	background-color: #fff;
}
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.menu-header{
	width: 240px;
	padding: 0 5px;
	height: 70px;
	line-height: 20px;
	overflow: hidden;
	vertical-align: middle;
padding-top: 20px;
}
.header-wrapper,.person-info{
	vertical-align: middle;
	float: left;
}
.header-wrapper{
	width: 30px;
	height: 30px;
	float: left;
	border: solid 1px #8e3006;
	border-radius: 15px;
}
.person-info{
	width: 100px;
	height: 30px;
	margin-left: 8px;
	line-height: 30px;
}
.person-header{
	width: 20px;
	height: 20px;
	margin: 5px;
}
.menu-line{
	width: 1px;
	height: 25px;
	border-left: solid 1px #000;
	margin-left: 15px;
}
.menu-main{
	padding: 0 5px;
	background-color: #ecf0f4;
}
.none{
	width: 240px;
	height: 5px;
}
.menu-circle{
	width: 11px;
	height: 11px;
	/*margin-top: -3px;*/
	margin-left: 10px;
}
.menu-circle img{
	margin-top: -12px;
}
.menu-list-wrapper{
	/*height: 500px;*/
}
.menu-list{
	width: 240px;
	height: 60px;
	overflow: hidden;
}
.menu-detail{
	width: 168px;
	height: 60px;
	line-height: 60px;
	float: right;
	margin-right: 25px;
	background-color: #fff;
	border: solid 1px #bbbbbb;
	border-radius: 2px;
	padding-left: 10px;
}
.menu-detail img{
	vertical-align: middle;
}
.person-detail{
	margin-left: 12px;
	/*color: #8e3006;*/
}
.new-nav{
  width: 100%;
  height: 30px;
  background-color: #fbf7f7;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: #000;
}
a:visited{
  text-decoration: none;
  color: #000;
}
a:active{
  text-decoration: none;
  color: #000;
}
.new-nav-wrapper{
  width: 85%;
  overflow: hidden;
  margin: 0 auto;
}
.new-nav-wrapper li{
  display: block;
  width: 20%;
  line-height: 30px;
  border-left: solid 1px #efeeee;
  text-align: center;
  float: left;
}
.new-content{
  width: 100%;
  overflow: hidden;
  padding: 2%;
  margin: 0 auto;
  background-color: #efeeee;
}
.left{
  float: left;
}
.right{
  float: right;
}
.content-left{
  width: 55%;
}
.content-right{
  width: 43%;
  margin-left: 5px;
}
.bgc{
  background-color: #fbf7f7;
  margin-top: 5px;
  overflow: hidden;
}
.advice-title,.study-title,.service-title,.pic-title,.en-title{
  display: inline;
  margin-left: 3px;
}
.content-pic-header,.content-study-header,.content-service-header,.content-advice-header,.content-en-header{
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 5px;
  overflow: hidden;
}
.content-en-header img,.content-advice-header img,.content-study-header img,.content-service-header img,.content-pic-header img{
  width: 20px;
  float: left;
  margin-top: 10px;
}
.more a{
  margin-right: 10px;
  font-size: 3px;
}
.main-en{
	overflow: hidden;
}
.pic-main-pic,.advice-main-pic,.service-main-pic,.study-main-pic,.en-main-pic{
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  margin-top: 6px;
}
.pic-main-pic{
  width: 70%;
}
.pic-pic,.advice-pic,.service-pic,.study-pic,.en-pic{
  display: inline-block;
  margin-left: 5%;
  width: 40%;
}
.en-pic img,.advice-pic img,.study-pic img,.service-pic img,.pic-pic img{
  width: 100%;
}
.main-pics{
  width: 60%;
  float: left;
}
.main-wrapper{
  width: 40%;
  float: right;
  padding-left: 5px;
  /*margin-left: -8%;*/
}
.main-list{
  line-height: 20px;
  overflow: hidden;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.firstline div,.secondline div{
  width: 50%;
  text-align: center;
  line-height: 34px;
  font-size: 8px;
}
.point{
	line-height: 20px;
	margin-right: 5px;
}