body{
	width: 100%;
	background-image: url(../../images/Encyclopedia/ency-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.content{
	width: 100%;
}
.content-list{
	margin-top: 20px;
	width: 94%;
	margin: 0 auto;
	background-color: rgba(255,255,255,.2);
	border: solid rgba(255,255,255,.2) 1px;
	border-radius: 10px;
	margin-top: 20px;
}
.Encyclopedia-title{
	font-size: 16px;
	margin-left: 10px;
	margin-top: 15px;
}
.Encyclopedia-detail{
	font-size: 14px;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.add{
	width: 90%;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 30px;
}
.add-New{
	color: #000;
	font-size: 22px;
}
.left{
	float: left;
	color: #93b9c4;
}
.right{
	float: right;
	color: #93b9c4;
}
.detail-content{
	/*width: 90%;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 35px;
}
.detail-top-title{
	font-size: 20px;
	font-weight: 600;
}
.add-content,.add-discribe,.add-name,.small-title,.detail-info{
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(255,255,255,.2);
	border: solid rgba(255,255,255,.2) 1px;
	border-radius: 10px;
}
.detail-title{
	width: 100%;
	margin-top: 12px;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.detail-list{
	width: 95%;
	height: ;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 30px;
	border-bottom: dashed #fff 1px;
}
.information{
	padding: 15px 0px;
}
.information .pic-show{
	float: left;
	width: 20%;	
	margin-right: 20px;
}
.pic-show img{
	width: 100%;
}
.new-title{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
	font-weight: 600;
	margin-bottom: 25px;
}
.add-name,.add-content,.add-discribe{
	padding: 20px;
}
.add-name{
	width: 60%;
	height: 35px;
	margin: 0 auto;
	display: block;
	line-height: 35px;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.add-discribe,.add-content{
	height: 99px;
	font-size: 12px;
	overflow: hidden;
}
.small-title{
	width: 60px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.btn{
	width: 94%;
	margin-top: 15px;
}
.cancel,.confirm{
	width: 55px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	border: solid 1px #fff;
	border-radius: 3px;
}
.add-pic{
	font-size: 16px;
	color: #000;
}
.bs-example{
	width: 90%;
	margin: 0 auto;
}
.input-group{
	margin-top: 30px;
}
.form-add{
	width: 90%;
	margin: 0 auto;
}
.title-signal{
	width: 10px;
	height: 20px;
	float: left;
	margin-right: 8px;
	background-color: #337AB7;
}
.list-title{
	font-size: 16px;
}
